@import "../../styles.global.scss";

.mentions-legales {
  height: 100vh;
  margin-top: 3%;
  background-color: $blackColor;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
