@import "../../styles.global.scss";

.review-card {
  display: flex;
  width: 500px;
  @include transition;
}

.rating {
  margin-left: 20px;
}

.comment {
  color: $blackColor;
}

.author-name {
  color: dimgray;
  font-style: italic;
}

// .review-header {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 10%;
// }

// .review-name {
//   padding-top: 10%;
// }
