.review-card {
  transition: 0.4s;
  &:hover,
  &:focus {
    // cursor: pointer;
    box-shadow: 10px 10px 5px grey;
    transform: scale3d(1.1, 1.1, 1) rotateZ(-5deg);
    transition: 0.4s;
  }
}

.review-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.review-name {
  padding-top: 10%;
}
