@import "../../styles.global.scss";

.end-section {
  background-color: $blackColor;
  text-align: center;
  color: white;
  margin-top: 100px;
}

.contact-email {
  color: white;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
