@import "../../styles.global.scss";

.end-section {
  background-color: $blackColor;
  color: white;
  margin-top: 100px;
  padding-bottom: 50px;
}

.contact {
  color: white;
  margin-left: 8px;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  margin-right: 10px;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.footer-icons {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

p.icon-paragraph {
  margin-left: 10px;
}
