.address-button {
  margin: 40px 0;
}

.address-title {
  text-align: center;
}

.address {
  font-style: normal;
}

.button {
  background-color: #f44336 !important;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
