@import "../../styles.global.scss";

.intro-section {
  background-image: linear-gradient(
    $gradientColor,
    $themeColor,
    $gradientColor
  );
  padding: 7vh;
}

.text-intro-section {
  margin-top: 3%;
}
