@import "../../styles.global.scss";

.menu-choice {
  display: flex;
  align-items: center;
  width: 100%;
  @include transition;
}

.menu-choice-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-choice-info {
  margin-left: 20px;
}

.menu-choice-info-mobile {
  text-align: center;
  margin-left: 20px;
}

.ingredient {
  color: $blackColor;
}

.price {
  color: dimgray;
  font-style: italic;
}
