@import "../../styles.global.scss";

.menu-choice {
  display: flex;
  width: 500px;
  @include transition;
}

.menu-choice-info {
  margin-left: 20px;
}

.ingredient {
  color: $blackColor;
}

.price {
  color: dimgray;
  font-style: italic;
}
