$themeColor: #f7f7f7;
$textColor: black;
$blackColor: #212529;
$redColor: #f44336;
$yellowColor: #faaf00;
$borderRadius: 3px;

@mixin transition {
  transition: 0.4s;
  &:hover,
  &:focus {
    box-shadow: 10px 10px 5px grey;
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.4s;
  }
}

@mixin menu-transition {
  transition: 0.4s;
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.4s;
  }
}

@mixin imageArea {
  display: flex;
  justify-content: center;
}

:export {
  themeColor: $themeColor;
  textColor: $textColor;
  blackColor: $blackColor;
  redColor: $redColor;
  yellowColor: $yellowColor;
  borderRadius: $borderRadius;
}
